body {
    overflow: hidden;
}

.cadastroContainer {
    display: flex;

}

.imgContainer {
    width: 57%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;

    .logo {
        position: absolute;
        top: 0px;
        left: 20px;
        padding: 0px;
        margin: 0px;
        display: flex;
        width: 190px;
    }
}

form {
    background-color: var(--box);
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        color: var(--roxo);
        font-size: 2rem;
        font-weight: 600;
    }

    #inserirImagem {
        display: none;
    }

    .inserirImagemContainer {
        cursor: pointer;
        background-color: aqua;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;

        }

        i {
            color: #E8E7E7;
            font-size: 2.7rem;
            position: absolute;
            margin-left: 7%;
            margin-top: 8%;
            background-color: #686767;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
        }
    }

    .inputs {
        display: flex;
        flex-direction: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        margin-top: 5%;

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                font-weight: 700;
            }

            .inputBox {
                border: 10px;
                display: flex;
                justify-content: space-between;
                width: 320px;
                height: 48px;
                border-radius: 10px;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.170);
                box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.170);
                padding-inline: 2%;

                input {
                    flex: 1;
                    height: 100%;
                    outline: none;
                    border: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: var(--texto1);
                }

                i {
                    color: var(--amarelo1);
                    font-size: 1.2rem;
                }

                #olho {
                    cursor: pointer;
                }
                 #olho2 {
                    cursor: pointer;
                }
            }
            
        .inputInvalido {
            border: 1px solid rgba(231, 6, 6, 0.479);

            input {
                color: red;
            }

            i {
                color: red;
            }
        }

            .divValorInvalido {
                color: red;
                font-size: 0.8rem;
                height: 0px;
            }
        }

    }

    button {
        width: 400px;
        height: 50px;
        font-size: 1.5rem;
        margin-top: 5%
    }

    p {
        margin-top: 2%;
        color: var(--texto2);

        a {
            color: var(--amarelo1);
            cursor: pointer;
            text-decoration: none;

        }
    }

    .curvaturasSelect {
        display: flex;
        width: 84%;
        margin-top: 4%;
        align-items: center;
        gap: 10px;

        span {
            height: fit-content;
            margin: 0px;
            font-weight: 500;
        }

        .curvaturasSelectbutton {
            margin: 0px;
            border-radius: 100px;
            padding: 4px;
            font-size: 0.9rem;
            color: #fff;
            font-weight: 500;
            background-color: #C2C2C2;
            width: fit-content;
            height: fit-content;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: var(--amarelo1);
            }
        }

        .selecionado {
            background-color: var(--amarelo1);
        }
    }
}