#container {
display: flex;

}

.feed {
    display: flex;
    flex-direction: column;
    margin-left: var(--centroContainer);
    gap: 20px;
    margin-bottom: 20px;
    width: var(--feed);
    
}
.maisPopularesFeed{
    height: max-content;
    margin-left: 5%;
    padding: 1% 1.5%;
    width: 300px;
    position: sticky;
    top: 11%;
    p{
        margin-top: 2%;
        font-size: 1.3rem;
        color: var(--texto2);
        font-weight: 500;
    }
    .listaPopulares{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}